################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ITTraining.Infrastructure/v15
/bin
/obj
